// COLOR
$color-prime: #2d46c9;
$color-prime-light: #3650d0;
$color-prime-dark: #1832ab;

$color-second: #ff6866;

$color-gray: #1d2434;
$color-gray-light: #adb4c8;
$color-gray-light-2: #5e667e;
$color-gray-dark: #171c2b;

$color-gray-shade: #ccc;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// BORDER RADIUS
$round-border-small: 3px;
$round-border: 5px;
