.footer {

    @include respond(tab-port) {
        text-align: center;
        transform: translateY(18rem);
        margin: 3rem 0;
        margin-top: 15rem;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .navigation__logo {
            margin: 0;

            &--mod {
                padding-left: 0;
            }
        }

        & > * {
            @include respond(tab-port) {
                flex: 0 0 40%;
                margin-bottom: 2.5rem;
            }
        }
    }
    
    &__navigation {
        text-transform: capitalize;

        &__header {
            font-size: 1.75rem;
            text-transform: capitalize;
            color: $color-gray;
            padding-bottom: 2rem;
        }

        &__items {
            padding: 0.5rem 0;
        }

        &-list {
            list-style: none;
            font-size: 1.25rem;
            // padding: 2rem 0;
        }

        &__links,
        &:link,
        &:visited {
            text-decoration: none;
            font-weight: 600;
            color: $color-gray-light-2;
            transition: all 0.1s;

            &:hover,
            &:active,
            &:focus {
                color: $color-second;
            }
        }
    }

    &__sub {
        width: 80%;
        margin: 0 auto;
        display: flex;
        font-size: 1.25rem;
        color: $color-gray-light;

        @include respond(tab-port) {
            padding-bottom: 3rem;
        }

        &__copyright {
            margin-right: auto;
        }

        &__link,
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-gray-light-2;
            font-weight: 700;
            transition: all 0.1s;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover,
            &:active,
            &:focus {
                color: $color-second;
            }
        }
    }

    &__logo {
        display: flex;
        justify-content: space-between;
        
        &__icon {
            width: 100%;
            fill: $color-gray-light;
            transition: all 0.1s;
    
            &:not(:last-child) {
                padding-right: 1.75rem;
                }
                &:hover {
                    fill: $color-second;
                }
        }

    }


}