.header {
    position: relative;
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(
        130deg,
        $color-prime 80%,
        $color-white 20%
    );
    border-bottom-left-radius: $round-border;

    @include respond(tab-port) {
        border-radius: 0px;
    }

    &__image {
        height: 80vh;
        position: absolute;
        bottom: 0;
        right: 0;

        @include respond(tab-port) {
           display: none;
        }
    }
}
