.header {
    position: relative;
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(
        130deg,
        $color-prime 80%,
        $color-white 20%
    );
    border-bottom-left-radius: $round-border;

    &__image {
        height: 80vh;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
