.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-prime;
    padding-top: 5rem;
    width: 100%;
    border-radius: $round-border $round-border 0 0;
    position: relative;

    @include respond(tab-port) {
        border-radius: 0px;
    }

    &__logo {
        margin-right: auto;
        &-text {
            padding-left: 5rem;
            color: $color-white;
            font-size: 2rem;
            font-weight: 600;
        }

        &__icon {
            height: 5rem;
            position: absolute;
            top: 5rem;
            left: 10rem;
            
        }
    }

    &__menu {
        display: block;
        position: relative;
        width: 3.75rem;
        height: 4px;
        background-color: $color-white;
        margin-right: 5.5rem;
        cursor: pointer;
        z-index: 101;

        @include respond(tab-portmin) {
            display: none;
            backface-visibility: hidden;
        }

        &::before,
        &::after {
            content: "";
            width: 5rem;
            height: 4px;
            background-color: $color-white;
            position: absolute;
            left: 0;
        }

        &::after {
            bottom: -1.5rem;
        }

        &::before {
            top: -1.5rem;
        }
    }
}

.main-nav {
    list-style: none;
    margin-right: 3.5rem;

    @include respond(tab-port) {
        display: none;
        backface-visibility: hidden;
    }

    &__items {
        display: inline-block;
        font-weight: 600;
        letter-spacing: 0.8px;
        padding: 1rem 2rem;
        color: $color-white;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.2s;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 35rem;
            width: 4.5rem;
            border-radius: 3px;
            border-bottom: 0.6rem solid $color-second;
            transition: all 0.7s;
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }

        &:hover::before {
            right: 5%;
        }
        &:focus,
        &:active {
            background-color: $color-prime-dark;
            border-radius: 5px;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            font-size: 1.75rem;
            text-decoration: none;
        }

        &--notify {
            background-color: $color-second;
            font-size: 1.2rem;
            line-height: 1.5;
            padding: 0 0.5rem;
            position: absolute;
            top: 0rem;
            left: 4rem;
        }
    }

    &__mobile {
        position: relative;

        @include respond (tab-port) {
            position: fixed;
            top: 0;
            text-align: center;
            display: block;
            background-color: $color-second;
            width: 115%;
            padding: 4rem;
            margin: 0;
            z-index: 100;
            transform: translateX(0) skewX(-30deg);
            animation: slide-in 1s cubic-bezier(.68,.01,.59,1.24) forwards;
            backface-visibility: hidden;

            & > * {
                transform: skewX(30deg);
            }

            span {
                background-color: $color-prime;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                background-color: $color-prime;
                height: 13.5rem;
                width: 100%;
                transform: translateX(80%);
                animation: slide-in-before .8s ease-in-out .8s forwards;
                backface-visibility: hidden;
            }
        }

    }
}