.headings {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}


.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
        // flex-direction: column;
        flex-wrap: wrap;
    }
}


.features {
    &-items {
        letter-spacing: 0.1rem;
        margin: 5rem;

        &__heading {
            font-size: 2.75rem;
            font-weight: 600;
            color: $color-gray;
        }

        &__sub {
            font-size: $default-font-size;
            color: $color-gray-light-2;
        }

        &::before {
            content: "";
            width: 1.3rem;
            height: 1.3rem;
            background-color: $color-prime;
            border-radius: 50%;
            display: inline-block;
        }
    }

    &__left {
        text-align: right;
        flex: 0 0 35%;

        @include respond(tab-port) {
            flex: 0 0 50%;
        }
    }
    
    &__middle {
        position: relative;
        &-image {
            height: 65rem;
        }

        @include respond(tab-port) {
            // flex: 0 0 100%;
            // order: -1;
            // transform:  translateX(32%);
            display: none;
            backface-visibility: hidden;
        }
    }
    
    &__right {
        text-align: left;
        flex: 0 0 35%;

        @include respond(tab-port) {
            flex: 0 0 50%;
            order: 2;
            
            &::before {
                content: "";    
            }
        }
    }
}
