

@keyframes slide-in {
    0% {
        transform: translateX(100%) skewX(-30deg);
    }

    100% {
        transform: translateX(0) skewX(-30deg);
    }
}

@keyframes slide-in-before {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-110%);
    }
}