.container {
    padding: 3rem;
    position: relative;
}

.section-features {
    padding: 8rem 0;
    background-image: linear-gradient(130deg, 
        rgba(242, 242, 242, 0.35) 30%,
        #ffffff 30%, #ffffff 70%,
        rgba(242, 242, 242, 0.35) 5%);
}